.he{
	color: yellow;
	font-size: 34px;
}
.hy{
    color: blue;
	font-size: 20px;
}
.hm{
	color: red;
	font-size: 34px;
}
.hq{
    color: purple;
	font-size: 20px;
}
.hr{
	color: brown;
	font-size: 34px;
}
.ht{
    color: blue;
	font-size: 20px;
}
.main1{
  background-color: lightblue;
}
.main2{
  background-color: lightgreen;
}
.main3{
  background-color: coral;
}

