.hero {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-top: 102px;
  margin-left: 102px;
  padding-left: 30px;
}
.he{
	color: yellow;
	font-size: 34px;
}
.hy{
    color: blue;
	font-size: 20px;
}
.hm{
	color: red;
	font-size: 34px;
}
.hq{
    color: purple;
	font-size: 20px;
}
.hr{
	color: brown;
	font-size: 34px;
}
.ht{
    color: blue;
	font-size: 20px;
}
.main1{
  background-color: lightblue;
}
.main2{
  background-color: lightgreen;
}
.main3{
  background-color: coral;
}


